@import "reset.css";
.right {
  float: right;
}
.left {
  float: left;
}
.it {
  font-style: italic;
}
.al_right {
  text-align: right;
}
.red {
  color: #ee3324;
}
.clear:before,
.clear:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clear:after {
  clear: both;
}
.clear {
  zoom: 1;
}
a {
  color: #6c6c6c;
  text-decoration: none;
}
a:hover {
  color: #ee3324;
  text-decoration: underline;
}
.inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
.dot {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: transparent url(../img/tondo_sprite.png) repeat-x -50px -20px scroll;
}
.cur .dot {
  background-position: -50px 0;
}
.back_icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  background: transparent url(../img/tondo_sprite.png) no-repeat 0 0 scroll;
}
html {
  overflow-y: scroll;
}
body {
  color: #6c6c6c;
  background-color: #f3f3f4;
  font-family: 'helvetica neue middle', Arial;
  text-align: center;
}
#wrapper {
  width: 940px;
  margin: 0 auto;
  text-align: left;
}
#menu {
  text-align: center;
  padding: 80px 0;
  overflow: hidden;
}
#menu a {
  letter-spacing: 5px;
  font-family: 'AvantGardeITCbyBT Demi', Arial;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  margin: 0 15px 0;
  vertical-align: middle;
}
#menu a:hover,
#menu a.cur {
  border-bottom: solid 2px #ee3324;
}
#menu a.logo {
  display: inline-block;
  text-align: center;
  border: 0 none;
  width: 320px;
  height: 130px;
  margin: 0 50px;
}
#menu a.logo img {
  display: block;
}
#sub_menu {
  text-align: center;
  padding: 25px 0;
  font-size: 14px;
  color: #000000;
}
#sub_menu a {
  letter-spacing: 5px;
  font-family: 'AvantGardeITCbyBT Demi', Arial;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  margin: 0 10px 0;
}
#sub_menu a:hover,
#sub_menu a.cur {
  border-bottom: solid 2px #ee3324;
}
#con .banner {
  width: 940px;
  height: 320px;
  overflow: hidden;
}
#con .sep {
  width: 100%;
  height: 20px;
  background: transparent url(../img/tondo_sprite.png) repeat-x -1px -70px scroll;
}
#con .slide_img {
  width: 940px;
  height: 289px;
  overflow: hidden;
}
#con .slide_nav {
  float: right;
  background-color: #f3f3f4;
  cursor: pointer;
}
#con .slide_nav li {
  float: left;
  margin: 0 10px;
}
.contact_con {
  width: 940px;
  padding: 30px 0;
  line-height: 2em;
}
.contact_con .left_1 {
  float: left;
  padding-right: 50px;
}
.contact_con h3 {
  color: #000000;
}
.about_con {
  padding-bottom: 50px;
  font-size: 14px;
}
.about_con img {
  display: block;
}
.about_con h2 {
  line-height: 80px;
  text-align: center;
}
.about_con .block_2,
.about_con .block_3 {
  margin: 50px 0;
}
.about_con .left,
.about_con .right {
  width: 49%;
}
.about_con .block_1 {
  height: 225px;
}
.about_con .block_1 .right {
  position: relative;
  height: 225px;
}
.about_con .block_1 .right .b_1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.about_con .block_1 .right .b_2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.music_con {
  padding-top: 30px;
}
.music_con .board {
  float: left;
  color: #000000;
  width: 268px;
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border: solid 1px #efefef;
}
.music_con .board .title {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.music_con .board .title:hover {
  color: #ee3324;
}
.music_con .board p {
  margin: 25px 0;
}
.music_detail_con {
  width: 780px;
  padding: 40px 80px;
  background-color: white;
}
.music_detail_con .header {
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
  position: relative;
}
.music_detail_con .header h1 {
  color: #ee3324;
  font-size: 20px;
  line-height: 45px;
  font-weight: bold;
}
.music_detail_con .header .back {
  position: absolute;
  right: 0;
  top: 0;
}
.music_detail_con .poster {
  float: left;
  margin: 0 20px 10px 0;
}
.music_detail_con .block {
  margin-bottom: 30px;
}
.music_detail_con .music_player {
  width: 480px;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #000000;
  -moz-box-shadow: 0px 0px 5px #000000;
  -webkit-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
  background: #6c7077;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjNzA3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iIzRmNTI1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZTQwNDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #6c7077 0%, #4f5257 57%, #3e4044 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c7077), color-stop(57%, #4f5257), color-stop(100%, #3e4044));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6c7077 0%, #4f5257 57%, #3e4044 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6c7077 0%, #4f5257 57%, #3e4044 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6c7077 0%, #4f5257 57%, #3e4044 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #6c7077 0%, #4f5257 57%, #3e4044 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7077', endColorstr='#3e4044', GradientType=0);
  /* IE6-8 */

}
